<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GiftShopManagement</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/datatable/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="~/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GiftShopManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark header border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand mx-5" asp-area="" asp-controller="Home" asp-action="Index">Gift Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ms-5">
                    <ul class="navbar-nav flex-grow-1" id="nav-items">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="Gift" asp-action="Index">Gift</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="GiftType" asp-action="Index">Gift Type</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="Company" asp-action="Index">Company</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="Invoice" asp-action="Index">Invoice</a>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <partial name="_ProfileName"></partial>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div>
            <partial name="_Notification"></partial>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="mb-0 footer text-muted">
        <div class="row header2 text-light p-3 mt-5">
            <p class="text-center m-0">Dhruvil A. Dobariya | 190540107051 | 190540107051@darshan.ac.in</p>
            <p class="text-center m-0">
                <a runat="server" class="btn btn-lg text-light" href="https://www.linkedin.com/in/dhruvil-dobariya-240600209/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a runat="server" class="btn btn-lg text-light" href="https://github.com/DhruvilDobariya">
                    <i class="fab fa-github"></i>
                </a>
            </p>
            <div class="text-center m-0">
                &copy; 2022 - Addressbook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/datatable/jquery.dataTables.min.js"></script>
    <script src="~/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="~/fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
